body{
  background: skyblue;
}
.parent
{
display: flex;
  justify-content: space-between;
}
.child{
  border:2px solid blue;
  text-align: center;
  width:30;
  box-shadow: 5px 5px red;
  background-color: gray;
}
img
{
  width:48%;
}
 @media screen and(min-width:300px)and(max-width:760px) {

 .child
 {
   width: 5%;
   text-align: center;
   box-shadow: 5px 5px red;
   margin:1%;
 }
 @media screen and(min-width:320px)and(max-width:640) {
.parent
{
  flex-wrap: wrap;
}

}
